snippet partial
	{% partial $0 %}

snippet partialdef
	{% partialdef $1 %}
        $0
	{% endpartialdef %}

snippet tag
	{% $0 %}

snippet variable
	{{ $0 }}

snippet url
    {% url "$0" %}

snippet static
    {% static "$0" %}

snippet elif
    {% elif $1 %}
        $0

snippet else
    {% else %}
        $0
